h1 {
    text-align: center;
    padding-top: 200px;
    font-size: 600%;
    position: relative;
    font-style: italic;
}

h2 {
    text-align: left;
    padding: 2px 10px;
    position: relative;
}

h3 {
    text-align: Left;
    padding: 2px 10px;
}




/*Navigation bar*/
.navMenu a {
    right: 20px;
    transition: 0.5s;
    padding: 20px 50px 20px 50px;
    width: 100px;
    text-decoration: none;
    font-size: 30px;
    color:black;
    border-radius: 0px 10px 0px 10px;
    display: inline-flex;
}
.navMenu a:hover {
    right: 0; 
}
.navMenu a:active {
    color: rgb(233, 88, 4);
}



/*Header styling*/
.backgroundImg img {
    margin: 0px;
    height: auto;
    max-width: 100%;
    position: relative;
}



/*Body*/

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    background-color: bisque;
}


/*About me section*/
#aboutMe {
    background-color: rgb(203, 88, 31);
    height: auto;
    width: 100%;
}
#aboutLeft img {
    height: auto;
    max-width: 100%;
    float: left;
    padding: 200px 0px;
}

#aboutRight h1,h2,h3,p,button{
    text-align: center;
    padding: 0px 30px;
    color: beige;
}

#aboutRight p{
    padding-bottom: 200px;
}



/*Image grid for workPortfolio section */
figure.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}
  
figure.column {
    flex: 25%;
    max-width: 30%;
    padding: 0 10px;
}
  
figure.column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
}













/*Footer styling*/

footer {
    background-color: rgb(78, 198, 231);
    margin: 0;
    height: auto;
    padding: 10px;
    width: 100%;
    float: left;
}

.footer h2 p {
 
    display: inline-block;
    position: absolute;
}



footer img {
    margin: 20px 20px 2px 20px;
    height: auto;
    max-width: 30%;
    position: relative;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 50%;
    float: right;
    
}

.footerLinks a{
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    padding: 5px;
    display: inline-block;
    position: relative;
}

