h1 {
    text-align: center;
    padding-top: 200px;
    font-size: 600%;
    position: relative;
    font-style: italic;
    font-family: cursive;
}

h2 {
    text-align: left;
    padding: 2px 10px;
    position: relative;
}

h3 {
    text-align: Left;
    padding: 2px 10px;
}


/*Navigation bar*/
.navMenu{
    overflow: hidden;
    background-color: rgb(57, 134, 195);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.navMenu a {
    transition: 0.2s;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(246, 235, 235);
    z-index: 1;
    display: inline-block;
}
.navMenu a:hover {
    opacity: 0.7; 
    text-decoration: underline wavy;
}
.navMenu a:active {
    color: rgb(233, 88, 4);
}
button.linkedinIcon {
    padding: 8px;
    font-size: 35%;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 35%;
    border-color: black;
    border-style: none;
}

button.linkedinIcon:hover {
    opacity: 0.7;
}


/*Header styling*/
.backgroundImg img {
    margin: 0px;
    height: auto;
    max-width: 100%;
    position: relative;
}

/*Body*/

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    background-color: bisque;
}


/*About me section*/
#aboutMe {
    background-color: rgb(203, 88, 31);
    height: auto;
    width: 100%;
}
#aboutLeft img {
    height: auto;
    max-width: 100%;
    float: left;
    padding: 200px 40px 200px 0px;
}

#aboutRight h1,h2,h3,p,button{
    text-align: center;
    padding: 0px 30px;
    color: beige;
}

#aboutRight p{
    padding: 0px 40px 100px 40px;
    margin: 0px 20px 0px 20px;
    font-size: 120%;
}


/*Work Portfolio*/

.work h2{
    color: beige;
    margin:0;
    padding: 60px 0;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 250%;
    background-color: rgb(29, 179, 117);
}

/*Image grid for workPortfolio section */
figure.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}
  
figure.column {
    flex: 25%;
    max-width: 30%;
    padding: 0 10px;
}
  
figure.column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
}

figure.column img:hover {
    opacity: 0.9;
    transform: scale(1.1);
}

/*WebDesign Section*/

#webDesign {
    background-color: rgb(189, 152, 3);
    color: black;
    text-align: center;
    padding: 10px;
}
#webDesign img{
    max-width:30%;
    padding:10px;
}
#webDesign img:hover {
    transform: scale(1.1);
}

#webDesign a {
    text-decoration: none;
}

.project-1{
    float: left;
}


/*Programs Section*/
#programs {
    background-color: rgb(203, 88, 31);
    color: black;
    text-align: center;
    padding: 10px;
}
#programs img{
    max-width: 20%;

}


/*Footer styling*/

footer {
    background-color: rgb(57, 134, 195);
    height: auto;
    width: 100%;
    margin: 20px 0px;
    padding: 20px 0px;
    text-align: center;
}

#contactMe h2 p {
   text-align: left;
}

.footer img {
    padding: 0px 20px 0px 20px;
    height: auto;
    max-width: 30%;
    border-radius: 50%;
    display: inline-block;
}


